body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 22, 34, 0) 0%, rgba(0, 22, 34, 0) 100%), url(https://d335luupugsy2.cloudfront.net/cms/files/495273/1658150029/$bhfcjw2dcdn);
}

.box{
  color: #d3d3d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(145deg, #082638, #0a2d42);
  box-shadow: 20px 20px 60px #082435, -20px -20px 60px #0a3047;
}

fieldset{
  border: 0px;
}

legend{
  text-align: center;
  color: #d3d3d3;
}

.inputBox{
  position: relative;
}

.inputUser{
  background: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  color: #a5a5a5;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
  position: relative;

  pointer-events: auto, none;
  transition: .5s;
}

#inputBoxRead{
  pointer-events: none;
  position: relative;
  background-color: transparent;
  
  color: #a5a5a5;
}

#submit{
  cursor: pointer;
  background: #04314c;
  border: none;
  color: #d3d3d3;
  width: 100%;
  padding: 15px;
  box-shadow: 10px 10px 5px #011e31;
  font-size: 15px;
}
#submit:hover{
  background-color: #082638;
}
#submit:active{
  background-color: #082638;
  opacity: 0.5;

}

.inputUser {
  opacity: 0.5;
  pointer-events: none;
}

.txtAcesso{
  
  margin-left: 44%;
  margin-top: 20%;
  color: #d3d3d3;
}

#index {
  cursor: pointer;
  background: #04314c;
  border: none;
  color: #d3d3d3;
  max-width: 300px;
  padding: 15px;
  box-shadow: 10px 10px 5px #011e31;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

#index:hover {
  background-color: #082638;
}

#index:active {
  background-color: #082638;
  opacity: 0.5;
}