body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 22, 34, 0) 0%, rgba(0, 22, 34, 0) 100%), url(https://d335luupugsy2.cloudfront.net/cms/files/495273/1658150029/$bhfcjw2dcdn);
}

.table{
  color: #d3d3d3;
}

table, th, td {
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  white-space: nowrap;
}


tr:hover {background-color: #011e31;}

th {
  background-color: #0f3f5f;
  color: #d3d3d3;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;

}

td{
  width: 100%;
  color: d3d3d3;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-size: 15px;
}

.box{
  color: #d3d3d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(145deg, #082638, #0a2d42);
  box-shadow: 20px 20px 60px #082435, -20px -20px 60px #0a3047;
}

.btn {
  background-color: transparent;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px; 
  border: none;
}

.btn2 {
  background-color: transparent;
  border: none;
}
