body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 22, 34, 0) 0%, rgba(0, 22, 34, 0) 100%), url(https://d335luupugsy2.cloudfront.net/cms/files/495273/1658150029/$bhfcjw2dcdn);
  }

  .box{
    color: #d3d3d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(145deg, #082638, #0a2d42);
    box-shadow: 20px 20px 60px #082435, -20px -20px 60px #0a3047;
  }
  
  fieldset{
    border: 0px;
  }
  
  legend{
    text-align: center;
    color: #d3d3d3;
  }

  .inputBox{
    position: relative;
}

.btn3{
    cursor: pointer;
    background: #04314c;
    border: none;
    color: #d3d3d3;
    width: 5%;
    padding: 15px;
    box-shadow: 10px 10px 5px #011e31;
    margin-top: 50px;
    margin-left: 15%;
}